<form action="/posts/new" method="POST">
  <p><input type="radio" name="category_id" value="1">Autos</p>
  <p><input type="radio" name="category_id" value="2">Classifieds</p>
  <p><input type="radio" name="category_id" value="3">Apartments</p>
  <p>Title<input type="text" name="title"></p>
  <p>Description<input type="text" name="description"></p>
  <p>Price<input type="text" name="price"></p>
  <input type="submit" value="Submit">
</form>
          
